apache_beam
accelerate
bitsandbytes==0.37.2  # pin due to https://github.com/TimDettmers/bitsandbytes/issues/324
datasets
deepspeed
huggingface_hub
mwparserfromhell
pandera
pyyaml
transformers[torch,deepspeed]>=4.28.1,<5
tokenizers
torch==2.0.0
wandb
flytekit
flytekitplugins-envd
flytekitplugins-kfpytorch
flytekitplugins-huggingface
flytekitplugins-deck-standard
git+https://github.com/huggingface/peft.git
