apache_beam
accelerate==0.21.0
bitsandbytes==0.41.1  # pin due to https://github.com/TimDettmers/bitsandbytes/issues/324
datasets==2.14.4
deepspeed==0.10.0
huggingface_hub==0.15.1
mwparserfromhell
pandera
pyyaml
sentencepiece
# transformers[torch,deepspeed]==4.31.0
git+https://github.com/huggingface/transformers.git@master#egg=transformers[torch,deepspeed]
tokenizers==0.13.3
torch==2.0.1
wandb
flytekit==1.8.3
flytekitplugins-envd==1.8.3
flytekitplugins-kfpytorch==1.8.3
flytekitplugins-huggingface==1.8.3
flytekitplugins-deck-standard==1.8.3
git+https://github.com/huggingface/peft.git
