apache_beam
git+https://github.com/huggingface/accelerate.git
bitsandbytes==0.41.1
datasets==2.14.4
deepspeed[1bit_adam]==0.10.0
huggingface_hub==0.15.1
mwparserfromhell
pandera
pyyaml
sentencepiece
git+https://github.com/huggingface/transformers.git@main#egg=transformers[torch,deepspeed]
tokenizers==0.13.3
torch==2.0.1
wandb
flytekit==1.9.0
flytekitplugins-envd==1.9.0
flytekitplugins-kfpytorch==1.9.0
flytekitplugins-huggingface==1.9.0
flytekitplugins-deck-standard==1.9.0
git+https://github.com/huggingface/peft.git
