accelerate
bitsandbytes
datasets
deepspeed
huggingface_hub
mwparserfromhell
pandera
peft
pyyaml
sentencepiece
transformers[torch,deepspeed]
tokenizers
torch==2.1.0
wandb
flytekit
flytekitplugins-envd
flytekitplugins-kfpytorch
flytekitplugins-huggingface
flytekitplugins-deck-standard
