accelerate
bitsandbytes
datasets
deepspeed==0.10.0
gitpython
huggingface_hub
mwparserfromhell
peft
pandera
pyyaml
sentencepiece
tokenizers
transformers
torch==2.1.1
wandb
flytekit==1.10.0
flytekitplugins-envd==1.10.0
flytekitplugins-kfpytorch==1.10.0
flytekitplugins-huggingface==1.10.0
flytekitplugins-deck-standard==1.10.0
